<div class="card-body">
  <!--cards of regions-->
  <div class="card mb-3">
    <div class="w-100" style="height: 25vw;overflow-y: scroll">
      <img class="card-img-top" src={{pix1}} alt="Card image cap">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{regionName}}</h5>
      <p class="card-text" style="height: 90px;overflow-y: scroll;">{{regionDescription}}</p>
      <p class="card-text">
        <small class="text-muted">Last updated 3 mins ago</small>
      </p>
    </div>
  </div>
  <a class="btn btn-primary">Explore</a>
</div>
