<div class ="bg-dark mx-0" style="overflow: hidden;">
  <div id="filterev" style="position: fixed;height: 100vh;width: 40vw;z-index: 3;left: 100vw;" class="d-flex flex-row bg-light">
    <div style="width: 30vw;height: 100vh;overflow-y: scroll">
     <div class ="row m-2"> <button type="button" class="col-12 btn btn-dark w-100" id="backnow" (click)="backto()">
        Back</button>
     </div>

     <h3 class="text-center m-2">Filters</h3>
     
     <div class="row m-2 p-1">

      <div class="accordion w-100" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Ξ Regions
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body list-group p-2 py-1">
                <a  (click)="cookie.set('filterNow',ind4);cookie.set('filter?',true)" class="list-group-item list-group-item-action reg" *ngFor="let ind4 of region; let i=index">
                  <span *ngIf="ind4.length > 0">{{ind4 | titlecase}}</span>
                </a>
             </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Ξ Languages
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body list-group p-2 py-1">
                  <a href="#" class="list-group-item list-group-item-action" *ngFor="let item of languages">{{item}}</a>
               </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Ξ Currencies
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body list-group p-2 py-1">
                  <a href="#" class="list-group-item list-group-item-action" *ngFor="let item of currencies">{{item}}</a>
               </div>
          </div>
        </div>
      </div>

     </div>
      </div>
  </div>
  <!--heading-->
  <h1 class="text-center pt-4 text-white">Counties</h1>
  <!--button for filter-->
    <!--filtering-->
    <div style="position: fixed;width: 100vw;z-index: 1;height: 150px;top: 100px;" class="d-flex flex-row-reverse mx-0">
        <button type="button" class="btn btn-success font-weight-bold" style="position: fixed;z-index: 2;width: 20px !important;overflow: hidden"
        (click)="filterev()">
      <small style="position: relative;right: 3px">F</small><br>
      <small style="position: relative;right: 3px">I</small><br>
      <small style="position: relative;right: 3px">L</small><br>
      <small style="position: relative;right: 3px">T</small><br><small style="position: relative;right: 3px">E</small><br>
      <small style="position: relative;right: 3px">R</small><br>
      </button>
      </div>
  <div style="position: fixed;z-index: 2;top: 120px;" class="scrollneed p-2 pl-1">
    <nav aria-label="Page navigation example">
      <!--side option A-Y-->
      <ul class="pagination" id="scrollneed1">
  
        <li class="page-item text-center " *ngIf="countryInfos">
          <a style="width: 30px;" class="page-link text-center p-0" href="#crude{{n}}" *ngFor="let j of countryInfos.sortedAlphabet;index as n">
            <small>#{{j}}</small>
          </a>
        </li>
  
      </ul>
    </nav>
  </div>

  <!--back to region selection page button-->
  <button type="button" class="btn btn-warning backway" style="position: fixed;z-index: 3;width: 46px !important;overflow: hidden;"
    (click)="previousPage()">❰</button>

    <!--default state button-->
  <button type="button" class="btn btn-danger backway1 text-center" style="height: 38px !important;position: fixed;z-index: 3;width: 46px !important;overflow: hidden;top: 30px"
    (click)="getBack()">
    <span style="font-size: 30px !important;margin: 0px;height: 5px !important;position: relative;bottom: 13px;right: 5px;" class="p-0 m-0">↺ </span>
  </button>

  
  

  <div class="row mx-0" style="position: relative;top: 10px;" *ngIf="countryInfos" id="placehold">
  
  
  
    <div class="col-1">
    </div>
    <!--placeto see informations-->
    <div class="col-10  mx-1 w-75" *ngIf="countryInfos.sortedAlphabet" style="z-index: 2">
      <div id="A3" class="pb-0 alert alert-warning">
        <p class="mb-0 p-2">Filtered by :<br> {{this.routeEnd.snapshot.paramMap.get('object1')}} called {{this.routeEnd.snapshot.paramMap.get('object2')}} !<p></p>
      </div>
      <div id="crude{{n}}" class=" mb-2 p-2 bg-light" *ngFor="let m of countryInfos.sortedAlphabet;index as n">
        <div class="w-100 text-white">
          <h3><span class="badge badge-dark">#{{m}}</span></h3>
        </div>
  
        <div class="card-columns mt-2" *ngIf="countryInfos.sortedProduct">
          <div class="card alert-danger" id="card{{x.name.charAt(0)}}{{i}}" *ngFor="let x of countryInfos.sortedProduct[n];index as i">
            <a style="color: black !important;">
              <img id='id{{i}}' class="card-img-top pos" src={{x.flag}} style="padding: 12%;height: 16vw;">
              <div class="card-body px-0">
                <h5 class="card-title text-center" style="height: 70px;">{{x.name}}</h5>
  
                <div class="accordion" id="accordion{{x.name}}">
                  <div class="card">
                    <div class="card-header p-0" style="height: 38px;" id="headingOne">
                      <div class="row w-100 m-0 bg-white">
                        <div class="col-2 m-0 p-0"></div>
                        <a class="btn btn-link col-8" type="link" data-toggle="collapse" href="#collapse{{x.alpha2Code}}" aria-expanded="true">
                          <small>Infos ⇳</small>
                        </a>
                        <div class="col-2 m-0 p-0"></div>
                      </div>
                    </div>
  
                    <div id="collapse{{x.alpha2Code}}" class="collapse" aria-labelledby="headingOne">
                      <div class="card-body px-0">
  
                        <div class="list-group mx-1">
                          <a class="list-group-item list-group-item-action active py-1 text-white">
                            Capital
                          </a>
                          <a class="list-group-item list-group-item-action">
                            <small>{{x.capital}}</small>
                          </a>
                          <a class="list-group-item list-group-item-action active py-1 text-white">Languages</a>
                          <a class="list-group-item list-group-item-action">
                            <small *ngFor="let i of x.languages;let l = last" [ngSwitch]="l" (click)="Filter(i.iso639_1, 'lang');filterNameStore( i.iso639_1, 'lang', i.name);">
                              <p *ngSwitchCase="true" class="btn-link">
                                {{i.name}}({{i.nativeName}}) .
                              </p>
                              <p *ngSwitchDefault class="btn-link">
                                {{i.name}}({{i.nativeName}}),
                              </p>
                            </small>
                          </a>
                          <a class="list-group-item list-group-item-action active py-1 text-white">Currencies</a>
                          <a class="list-group-item list-group-item-action">
                            <small *ngFor="let i of x.currencies;let l = last" (click)="filterNameStore( i.code, 'currency', i.name)">
                              <span class="btn-link" (click)="Filter(i.code, 'currency')">{{i.name}}</span>
                              <span *ngIf="i.symbol" class="btn-link">({{i.symbol}})</span>
                              <span *ngIf="!l">,</span>
                              <span *ngIf="l">.</span>
                            </small>
                          </a>
                          <a class="list-group-item list-group-item-action active py-1 text-white">Lat & Long</a>
                          <a class="list-group-item list-group-item-action" style="text-align: center;">
                            <small style="text-align: center;">{{x.latlng}}</small>
                            <br>
                            <br>
                            <button (click)="router.navigate(['/',x.region ,'country', x.name])" type="button" class="btn btn-outline-success">More >></button>
                          </a>
  
                        </div>
  
                      </div>
                    </div>
                  </div>
                </div>
  
              </div>
              <div class="card-footer text-center {{x.region}}1" [ngClass]="{'bg-primary text-light': x.region == 'Asia','bg-success text-light': x.region == 'Africa','bg-danger text-light': x.region == 'Americas',
               'bg-warning': x.region == 'Europe','bg-info text-light': x.region == 'Oceania'}">
                <p class="text-center m-0 {{x.region}}1">{{x.region}}</p>
              </div>
            </a>
  <!--card view end-->
  
  
  
  
          </div>
        </div>
      </div>
    </div>
    <div class="col-1">
  </div>
</div>
