@media screen and (max-width: 575px) {
    .pos {
      height: 48vw !important;
    }
  }
  @media screen and (max-height: 555px){
    .scrollneed {
      height: 80vh;
      overflow-y: scroll;
    }
  }
  .Asia1, .Africa1, .Americas1, .Oceania1 {
    color: white !important;
  }