<div class ="bg-dark mx-0" style="overflow: hidden;">
  <div id="filterev" style="position: fixed;height: 100vh;width: 40vw;z-index: 3;left: 100vw;" class="d-flex flex-row bg-light">
    <div style="width: 30vw;height: 100vh;overflow-y: scroll" id="menu">
     <div class ="row m-2"> <button type="button" class="col-12 btn btn-dark w-100" id="backnow" (click)="backto()">
        Back</button>
     </div>

     <h4 class="text-center m-2">Local Filters</h4>
     
     <div class="row m-2 p-1" *ngIf="countryInfos">

      <div class="accordion w-100" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Ξ Regions
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body list-group p-2 py-1">
                <filter-menu [inputFilt]="region"  [inputFilt1]="countryInfos.sortedProduct" (outputFilt1)="getCountryInfos($event)" [type]="'region'"></filter-menu>
             </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Ξ Languages
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body list-group p-2 py-1" *ngIf="countryInfos">
                  <filter-menu [inputFilt]="languages" [inputFilt1]="countryInfos.sortedProduct" (outputFilt1)="getCountryInfos($event)" [type]="'languages'"></filter-menu>
               </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Ξ Currencies
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body list-group p-2 py-1">
                  <filter-menu [inputFilt]="currencies" [inputFilt1]="countryInfos.sortedProduct" (outputFilt1)="getCountryInfos($event)" [type]="'currencies'"></filter-menu>
               </div>
          </div>
        </div>
      </div>

     </div>
      </div>
  </div>
  <!--heading-->
  <h1 class="text-center pt-4 text-white">Counties</h1>
  <!--button for filter-->
    <!--filtering-->
    <div style="position: fixed;z-index: 1;height: 150px;top: 100px;" class="d-flex flex-row-reverse mx-0 w-100">
        <button type="button" class="btn btn-success font-weight-bold" style="position: fixed;z-index: 2;width: 20px !important;overflow: hidden"
        (click)="filterev()">
      <small style="position: relative;right: 3px">F</small><br>
      <small style="position: relative;right: 3px">I</small><br>
      <small style="position: relative;right: 3px">L</small><br>
      <small style="position: relative;right: 3px">T</small><br><small style="position: relative;right: 3px">E</small><br>
      <small style="position: relative;right: 3px">R</small><br>
      </button>
      </div>
  <div style="position: fixed;z-index: 2;top: 120px;" class="scrollneed p-2 pl-1">
    <nav aria-label="Page navigation example">
      <!--side option A-Y-->
      <ul class="pagination" id="scrollneed1">
  
        <li class="page-item text-center " *ngIf="countryInfos">
          <a style="width: 30px;" class="page-link text-center p-0" href="#crude{{n}}" *ngFor="let j of countryInfos.sortedAlphabet;index as n">
            <small>#{{j}}</small>
          </a>
        </li>
  
      </ul>
    </nav>
  </div>

  <!--back to region selection page button-->
  <button type="button" class="btn btn-warning backway" style="position: fixed;z-index: 3;width: 46px !important;overflow: hidden;"
    (click)="previousPage()">❰</button>

    <!--default state button-->
  <button type="button" class="btn btn-danger backway1 text-center" style="height: 38px !important;position: fixed;z-index: 3;width: 46px !important;overflow: hidden;top: 30px"
    (click)="getBack()">
    <span style="font-size: 30px !important;margin: 0px;height: 5px !important;position: relative;bottom: 13px;right: 5px;" class="p-0 m-0">↺ </span>
  </button>

  
  

  <div class="row mx-0" style="position: relative;top: 10px;" *ngIf="stat === false" id="placehold">
  
    <div class="col-1">
    </div>
    <!--placeto see informations-->
    <country-cards  style="z-index: 2"
     class="col-10 mx-1 w-75" [array]="countryInfos" (output1)='getFilterR($event)'
     (output2)='getFilterL($event)' (output3)='getFilterC($event)'></country-cards>
    <div class="col-1">
  </div>
</div>
<div class="row mx-0" style="position: relative;top: 10px;" *ngIf="stat === true" id="placehold">
  
  <div class="col-1">
  </div>
  <!--placeto see informations-->
  <country-cards  style="z-index: 2"
   class="col-10 mx-1 w-75" [array]="countryInfos1" (output1)='getFilterR($event)'
   (output2)='getFilterL($event)' (output3)='getFilterC($event)' (output4)="statch($event)"></country-cards>
  <div class="col-1">
</div>
</div>
