<!--1st hosting-->
<div class="container-fluid m-0 px-4 pt-4" style="background-image: url('assets/background1.png');height: 120vh;background-position: center;
background-size: contain;">
  <!--card to show regional cards-->
  <div class="px-4 mx-4">
    <div class="card text-center mx-4 ">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item p-0" *ngFor="let r of array">
            <button-region [regName]="r.name" [stat]="r.status" (regionNameAp)='infoAvailable($event)'></button-region>
          </li>
        </ul>
      </div>
      <region-first-chnage [regName1]="object.name" [regDesc]="object.description" [regPix]="object.pix"></region-first-chnage>
      
    </div>
  </div>
</div>